body {
    font-style: oblique;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
}
.awesome    {
    color: blueviolet;
    font-size: medium;
}
.serious    {
    color:  aquamarine;
    font-size: xx-large;
}
.informativ {
    color:  rgb(97, 60, 5);
    font-size: medium;
}